body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Arial";
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  background-color: #62A5DE;
  background-image: url("redwoods.png");
  background-size: cover;
  height: 100%
}

h1 {
  padding: 20px 0px 10px 0px;
}

a {
color: #F6FAFA;
text-decoration: none;
}

img {
display: block;
margin: 0px auto;
}

.contact-item {
margin-top: 60px;
padding: 40px;
background-color: #5ACB9E;
}
